html {
    font-size: 18px;
}

:root {
    --red-color:#dc3545;
    --yellow-color: rgb(255, 157, 0);
    --green-color: #198754;
    --grey-green-color: #9ba29b;
    --black-color: #212529;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: var(--black-color);
    color: #fefefe;
}

header {
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-red {
    background-color: var(--red-color);
    color:#fefefe
}
.bg-yellow {
    background-color: var(--yellow-color);
    color:#fefefe
}
.bg-green {
    background-color: var(--green-color);
    color:#fefefe
}
.bg-grey {
    background-color: var(--grey-green-color);
    color:#fefefe
}
.bg-white {
    background-color: #fefefe;
    color:var(--black-color)
}


.black-border {
    border: 2px solid #212529;
    border-radius: .25rem;
}

.btn-primary {
    color: #fff;
    background-color: #6b59a7;
    border-color: #6b59a7;
}

.btn-primary:hover {
    background-color: #7e68c6;
    border-color: #7e68c6;
}

.nav-profile {
    border-radius: .25rem;
    /* border-bottom: 2px solid #00000000; */
    transition: all .15s ease-in-out;
}

.nav-profile:hover {
    /* border-bottom: 2px solid #ffffff88; */
    box-shadow: inset 2px 0px 10px #4c545a;
    transform: scale(1); 
}

/* .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
} */

.dropdown-item:focus, .dropdown-item {
    color: #ffffff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    background-color: #212529;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 0;
    background-color: #fefefe;
    border-top: .1em solid;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}
 /* 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;Минимальная высота экрана 
    margin: 0;
}
*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Шапка, основное содержимое, футер */
    min-height: 100vh; /* Минимальная высота экрана */
    margin: 0;
}

/*
main {
    flex: 1;  Занимает всё доступное пространство между header и footer
}
*/
main {
    grid-row: 2; /* Основное содержимое занимает весь доступный оставшийся пространство */
    background: linear-gradient(#272934, #212529);
}

.start_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 15%;
}

.scroll_down {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 37px;
    justify-self: center;
    align-self: self-end;
}

.first_page_bg {
    background: no-repeat;
    background-image: url(/img/lerning_JS.png);
    background-size: cover;
    height: 100vh;
    padding: 5%;
    box-shadow: inset 0em -1em 2em 0em var(--black-color);
}

.first_page_text{   
    grid-column: 1/ 1;
    color: #fff;
    font-size: 28px;
}

.first_page_text > h1 {
    font-size: 50px;
}

.card-img-top {
    height: 360px;
    background-color: #000;
    object-fit: contain;
}
.card {
    color: #fefefe;
    background-color: #000;
}

/*RPC.html*/
.game_container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5% 1%;
    border: 2px solid #212529;
    border-radius: .25rem;
}
.start_game {
    grid-column: 1/4;
    grid-row: 1/3;
}

.result_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/4;
    grid-row: 3/span 3;
}
#errorBlock {
    grid-column: 2/span 2;
}

.computer-choise-block {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
}

.user-choise-block {
    grid-column: 3/span 2;
    grid-row: 1/span 1 ;
} 

.result-block {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

/*RPC.html*/

/* CALC.html */
.calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border-radius: 0.5rem;
}

.calc-container button {
    border-radius: 0.5em;
}

.calc-input {
    grid-column: 1/span 4;
    grid-row: span 1;
}

.operator-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/span 2;
    grid-row: 3/span 2;
}
.operator-container button {
    color: #fff;
}

.operator-container button:focus {
    background-color: #fff;
    color: var(--yellow-color);
    transition: all .3s;
}

.calc-submit {
    grid-column: span 4;
    grid-row: span 1;
    color: var(--black-color);
}
.calc-submit:hover {
    background-color: var(--yellow-color);
    color: #fff;
    transition: all .3s;
}

.culc-result-block {
    grid-column: span 4;
    grid-row: span 1;
    background-color: #212529;
    color: #fff;
}

/* CALC.html */

/*NOTES.html*/

.notes-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0.5rem;
}

.notes-element {
    grid-column: span 4;
}

.note {
    display: flex;
    color: #fefefe;
    /* background-color:#fefefe; */
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
}

/*NOTES.html*/

/*TIME.html*/
.time-block-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:space-around;
    gap: 10px;
}

.time-result {
    font-size: 84px;
    margin: 10%;
}

.active-time-btn {
    background-color: #fefefe;
    color: var(--yellow-color);
}

/*TIME.html*/

/*REGISTRATION.html*/

/*REGISTRATION.html*/


/* USERSList.html*/
/* HTML: <div class="loader"></div> */
/* .loader {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 15px 0 #ffffff, -15px 0 rgba(255, 255, 255, 0.133);background: #ffffff }
      33% {box-shadow: 15px 0 #ffffff, -15px 0 rgba(255, 255, 255, 0.133);background: rgba(255, 255, 255, 0.133)}
      66% {box-shadow: 15px 0 rgba(255, 255, 255, 0.133),-15px 0 #ffffff; background: #0002}
      100%{box-shadow: 15px 0 rgba(255, 255, 255, 0.133),-15px 0 #ffffff; background: #ffffff }
  } */

  /* HTML: <div class="loader"></div> */
.loader {
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#ffa516);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }

  .user-list-item {
    animation: 1s reveal-search;
  }
  
  /* @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  } */
   
  @keyframes reveal-search {
    0% {
      height: 0;
      @include scaleX(0);
      @include border-radius(50%);
    }
    50% {
      height: 45.9px;
      @include scaleX(0);
      @include border-radius(50%);
    }
    100% {
      @include scaleX(1);
      @include border-radius(0);
    }
  }
/* USERSList.html*/

footer {
    /* flex-shrink: 0; Не уменьшать футер */
    border-top: 1px solid #00000017;
    font-size: 12px;
}

.footer-text {
    text-align: center;
}